.book-box{
    width: 70%;
    border: 1px solid lightgrey;
    padding: 20px 20px;
    margin-top: 80px;
    border-radius: 10px;
    background-color: white;
}
.book-box input{
    background-color: #f2f2f2;
}
.book-box label{
    color: gray;
}
.book-box .book-button{
    width: 100%;
    background-color:#F9A51A;
    color:black;

}